/* COLORS */
// Cyan Colors
$cyan-600-color: #4d96a9;
$cyan-300-color: #8fe3f9;

// Purple Colors
$purple-600-color: #855fb1;
$purple-300-color: #d9b8ff;

// Slate Colors
$slate-900-color: #28283d;
$slate-600-color: #87879d;
$slate-300-color: #d1d1df;

// White Color
$white-color: #fafafa;

/* TYPOGRAPHY */
// Text Preset 1
%preset-1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900; // Black
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0px;
}

// Text Preset 2
%preset-2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900; // Black
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
}

// Text Preset 3
%preset-3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900; // Black
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

// Text Preset 4
%preset-4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500; // Medium
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
}

// Text Preset 5
%preset-5 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900; // Black
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

// Figure Preset
%preset-6 {
  position: relative;
  width: 1px;
  height: 105px;
  background-color: $slate-300-color;
  margin: 0 auto;

  &::after {
    content: "01";
    position: absolute;
    bottom: calc(-1 * 28px);
    left: 50%;
    transform: translateX(-50%);
    width: 56px;
    height: 56px;
    border: 1px solid $slate-300-color;
    border-radius: 999px;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $slate-600-color;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
  }
}
